<!DOCTYPE html>
<html>
  <head>
    <title>Maddies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <!-- Navbar content -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <a class="navbar_brand" href="<%= root_path %>">Maddie's</a>

      <% if logged_in? %>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <%= link_to "Logout", '/logout', method: :delete, class: "btn btn-outline-primary" %>
            </li>
        </ul>
      <% else  %>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <%= link_to "Login", '/login', class: "btn btn-outline-primary" %>
            </li>
            <li class="nav-item">
                <%= link_to "Signup", '/signup', class: "btn btn-outline-primary" %>
            </li>
        </ul>
      <% end %>



        <!-- <div class="d-flex justify-content-end">
          <div class="p-2 bd-highlight"><%= link_to "Logout", '/logout', method: :delete, class: "btn btn-outline-primary" %></div>
        </div> -->
        <!-- <%= link_to "Logout", '/logout', method: :delete, class: "btn btn-outline-primary" %> -->

    </nav>
      <%= yield %>


  </body>
</html>
